.calendar__date {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.7em;
  height: 1.7em;
  cursor: pointer;
}

.calendar__date_active {
  background-color: #535bf2;
  color: #ffffff;
}

.calendar__date_otherMonth {
  color: lightgray;
}